# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

# Model checkpoints (optional if >100 MB)
*.ckpt

# Temporary files
*.tmp
